/* ==========================================================================
   Defaults: Color, Size, Font
   ========================================================================== */

$pink: #ec008c;
$gray: #cdd6f2;
$dark-blue: #8e9dce;
$light-black: #27376c
